<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <link type="image/x-icon" rel="shortcut icon" href="./assets/icons/favicon.svg">  
    <title>RSS Virtual Keyboard</title>
</head>
<body>
    <header>

    </header>

    <main class="main">
        <div class="wrapper">
            <div class="input_container">
                <input class="input" type="text">
            </div>
            <div class="keyboard">
                <div class="keyboard_first-row row">
                    <div class="keyboard_key-container">
                        <button class="keyboard_key keyboard_key__dark">~`</button> 
                    </div>
    
                    <div class="keyboard_key-container">
                        <button class="keyboard_key">!1</button> 
                    </div>
    
                    <div class="keyboard_key-container">
                        <button class="keyboard_key">@2</button> 
                    </div>
    
                    <div class="keyboard_key-container">
                        <button class="keyboard_key">#3</button> 
                    </div>
    
                    <div class="keyboard_key-container">
                        <button class="keyboard_key">$4</button> 
                    </div>
    
                    <div class="keyboard_key-container">
                        <button class="keyboard_key">%5</button> 
                    </div>
    
                    <div class="keyboard_key-container">
                        <button class="keyboard_key">^6</button> 
                    </div>
    
                    <div class="keyboard_key-container">
                        <button class="keyboard_key">&7</button> 
                    </div>
    
                    <div class="keyboard_key-container">
                        <button class="keyboard_key">*8</button> 
                    </div>
    
                    <div class="keyboard_key-container">
                        <button class="keyboard_key">(9</button> 
                    </div>
    
                    <div class="keyboard_key-container">
                        <button class="keyboard_key">)0</button> 
                    </div>
    
                    <div class="keyboard_key-container">
                        <button class="keyboard_key">_-</button> 
                    </div>
    
                    <div class="keyboard_key-container">
                        <button class="keyboard_key">+=</button> 
                    </div>
    
                    <div class="keyboard_key-container keyboard_key-container__extra-big-wide">
                        <button class="keyboard_key keyboard_key__dark">Backspace</button> 
                    </div>
                </div>

                <div class="keyboard_second-row row">
                    <div class="keyboard_key-container keyboard_key-container__extra-middle-wide">
                        <button class="keyboard_key keyboard_key__dark">Tab</button> 
                    </div>
    
                    <div class="keyboard_key-container">
                        <button class="keyboard_key">Q</button> 
                    </div>
    
                    <div class="keyboard_key-container">
                        <button class="keyboard_key">W</button> 
                    </div>
    
                    <div class="keyboard_key-container">
                        <button class="keyboard_key">E</button> 
                    </div>
    
                    <div class="keyboard_key-container">
                        <button class="keyboard_key">R</button> 
                    </div>
    
                    <div class="keyboard_key-container">
                        <button class="keyboard_key">T</button> 
                    </div>
    
                    <div class="keyboard_key-container">
                        <button class="keyboard_key">Y</button> 
                    </div>
    
                    <div class="keyboard_key-container">
                        <button class="keyboard_key">U</button> 
                    </div>
    
                    <div class="keyboard_key-container">
                        <button class="keyboard_key">I</button> 
                    </div>
    
                    <div class="keyboard_key-container">
                        <button class="keyboard_key">O</button> 
                    </div>
    
                    <div class="keyboard_key-container">
                        <button class="keyboard_key">P</button> 
                    </div>
                    
                    <div class="keyboard_key-container">
                        <button class="keyboard_key">[</button> 
                    </div>
    
                    <div class="keyboard_key-container">
                        <button class="keyboard_key">]</button> 
                    </div>
    
                    <div class="keyboard_key-container">
                        <button class="keyboard_key">|\</button> 
                    </div>
    
                    <div class="keyboard_key-container">
                        <button class="keyboard_key keyboard_key__dark">Del</button> 
                    </div>
                </div>

                <div class="keyboard_third-row row">
                    <div class="keyboard_key-container keyboard_key-container__extra-big-wide">
                        <button class="keyboard_key keyboard_key__dark">Caps Lock</button> 
                    </div>
    
                    <div class="keyboard_key-container">
                        <button class="keyboard_key">A</button> 
                    </div>
    
                    <div class="keyboard_key-container">
                        <button class="keyboard_key">S</button> 
                    </div>
    
                    <div class="keyboard_key-container">
                        <button class="keyboard_key">D</button> 
                    </div>
    
                    <div class="keyboard_key-container">
                        <button class="keyboard_key">F</button> 
                    </div>
    
                    <div class="keyboard_key-container">
                        <button class="keyboard_key">G</button> 
                    </div>
    
                    <div class="keyboard_key-container">
                        <button class="keyboard_key">H</button> 
                    </div>
    
                    <div class="keyboard_key-container">
                        <button class="keyboard_key">J</button> 
                    </div>
    
                    <div class="keyboard_key-container">
                        <button class="keyboard_key">K</button> 
                    </div>
    
                    <div class="keyboard_key-container">
                        <button class="keyboard_key">L</button> 
                    </div>
    
                    <div class="keyboard_key-container">
                        <button class="keyboard_key">;</button> 
                    </div>
    
                    <div class="keyboard_key-container">
                        <button class="keyboard_key">'</button> 
                    </div>
    
                    <div class="keyboard_key-container keyboard_key-container__extra-semi-big-wide">
                        <button class="keyboard_key keyboard_key__dark">Enter</button> 
                    </div>
                </div>

                <div class="keyboard_fourth-row row">
                    <div class="keyboard_key-container keyboard_key-container__extra-big-wide">
                        <button class="keyboard_key keyboard_key__dark">Shift</button> 
                    </div>
    
                    <div class="keyboard_key-container">
                        <button class="keyboard_key">\</button> 
                    </div>
    
                    <div class="keyboard_key-container">
                        <button class="keyboard_key">Z</button> 
                    </div>
    
                    <div class="keyboard_key-container">
                        <button class="keyboard_key">X</button> 
                    </div>
    
                    <div class="keyboard_key-container">
                        <button class="keyboard_key">C</button> 
                    </div>
                    
                    <div class="keyboard_key-container">
                        <button class="keyboard_key">V</button> 
                    </div>
    
                    <div class="keyboard_key-container">
                        <button class="keyboard_key">B</button> 
                    </div>
    
                    <div class="keyboard_key-container">
                        <button class="keyboard_key">N</button> 
                    </div>
    
                    <div class="keyboard_key-container">
                        <button class="keyboard_key">M</button> 
                    </div>
    
                    <div class="keyboard_key-container">
                        <button class="keyboard_key">.</button> 
                    </div>
    
                    <div class="keyboard_key-container">
                        <button class="keyboard_key">,</button> 
                    </div>
    
                    <div class="keyboard_key-container">
                        <button class="keyboard_key">/</button> 
                    </div>
    
                    <div class="keyboard_key-container">
                        <button class="keyboard_key keyboard_key__dark">&#8593;</button> 
                    </div>
    
                    <div class="keyboard_key-container">
                        <button class="keyboard_key keyboard_key__dark">Shift</button> 
                    </div>
                </div>

                <div class="keyboard_fifth-row row">
                    <div class="keyboard_key-container keyboard_key-container__extra-middle-wide">
                        <button class="keyboard_key keyboard_key__dark">Ctrl</button> 
                    </div>
    
                    <div class="keyboard_key-container">
                        <button class="keyboard_key keyboard_key__dark">Win</button> 
                    </div>
    
                    <div class="keyboard_key-container">
                        <button class="keyboard_key keyboard_key__dark">Alt</button> 
                    </div>
    
                    <div class="keyboard_key-container keyboard_key-container__space">
                        <button class="keyboard_key"></button> 
                    </div>
    
                    <div class="keyboard_key-container">
                        <button class="keyboard_key keyboard_key__dark">Alt</button> 
                    </div>
    
                    <div class="keyboard_key-container keyboard_key-container__extra-middle-wide">
                        <button class="keyboard_key keyboard_key__dark">Ctrl</button> 
                    </div>
    
                    <div class="keyboard_key-container">
                        <button class="keyboard_key keyboard_key__dark">&#8592;</button> 
                    </div>
    
                    <div class="keyboard_key-container">
                        <button class="keyboard_key keyboard_key__dark">&#8595;</button> 
                    </div>
    
                    <div class="keyboard_key-container">
                        <button class="keyboard_key keyboard_key__dark">&#8594;</button> 
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer>

    </footer>
</body>
<script src="./script.js"></script>
</html>